<input type="text" id="Title" ng-model="post.title" ng-disabled="editingDisabled" placeholder="Title"/></input>
<br>
<input type="text" id="Author" ng-model="post.author" ng-disabled="editingDisabled" placeholder="Author"/></input>
<br>
<textarea id="PostText" ng-model="post.text" ng-disabled="editingDisabled" placeholder="Text"/></textarea>
<br>
<button id="EditPost" ng-show="editingDisabled" ng-click="editingDisabled = false">Edit Post</button>
<button id="Cancel" ng-hide="editingDisabled" ng-click="cancelEditing()">Cancel</button>
<button id="Save" ng-hide="editingDisabled" ng-click="savePost()">Save</button>

<br>
Comments:
<ul>
	<li ng-repeat="comment in comments">
		<div>
			<div>Summary : {{comment.summary}}</div>
			<div>Author : {{comment.author}}</div>
			<div>Text : {{comment.text}}</div>
		</div>
	</li>
</ul>

<input type="text" id="CommentAuthor" ng-model="newComment.author" placeholder="Author"/></input>
<br>
<input type="text" id="CommentSummary" ng-model="newComment.summary" placeholder="Summary"/></input>
<br>
<textarea id="CommentText" ng-model="newComment.text" placeholder="Type your post here"/></textarea>
<button id="AddComment" ng-click="addComment(newComment)">Add Comment</button>

<div ng-show="deleteAttempt"> 
        <div class="modal-header">
            <h3 class="modal-title">Warning</h3>
        </div>
        <div class="modal-body">
            You are about to delete a post?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="delete()">Delete</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
     </div>

