<input type="text" id="Title" ng-model="post.title" ng-disabled="editingDisabled" placeholder="Title"/></input>
<br>
<input type="text" id="Author" ng-model="post.author" ng-disabled="editingDisabled" placeholder="Author"/></input>
<br>
<textarea id="PostText" ng-model="post.text" ng-disabled="editingDisabled" placeholder="Text"/></textarea>
<br>
<button id="EditPost" ng-show="editingDisabled" ng-click="editingDisabled = false">Edit Post</button>
<button id="Cancel" ng-hide="editingDisabled" ng-click="cancelEditing()">Cancel</button>
<button id="Save" ng-hide="editingDisabled" ng-click="savePost()">Save</button>

<br>
Comments:
<ul>
	<li ng-repeat="comment in comments">
		{{comment.text}}
		<div ng-click="deleteComment(comment.id)" class="glyphicon glyphicon-trash"></div>
	</li>
</ul>

<br/>
<input type="text" id="CommentAuthor" ng-model="newComment.author" placeholder="Author"/></input>
<input type="text" id="CommentSummary" ng-model="newComment.summary" placeholder="Summary"/></input><br/>
<br/>
<textarea id="CommentText" ng-model="newComment.text" placeholder="Type your comment"/></textarea><br/>
<button id="AddComment" ng-click="addComment(newComment)">Add Comment</button>



